<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="prod-section-prod-list">
    <div class="col-md-8 prod-product-container-box container">
        <div class="prod-product-card">
            <div class="prod-img-container">
                <img class="prod-product-img" th:src="@{|/gen/${product.thumbnailImg}|}" alt="이미지가 존재하지 않습니다.">
            </div>
            <div class="prod-product-card-body">
                <div class="prod-product-card-header">
                    <span class="font-bold" th:text="${product.title}"></span>
                    <a th:href="@{/product/list}" class="btn btn-link">목록보기</a>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{|/product/modify/${product.id}|}" onclick="return productModify();"
                           th:if="${product.member != null and #authentication != null and (product.member.username == #authentication.getName() or member.authority == 0)}">수정</a>
                        <a th:href="@{|/product/delete/${product.id}|}" onclick="return productDelete();"
                           th:if="${product.member != null and #authentication != null and (product.member.username == #authentication.getName() or member.authority == 0)}">삭제</a>
                    </div>
                </div>
                <div class="prod-detail-card-body">
                    <ul class="list-group list-group-flush mt-3">
                        <li class="prod-list-group-item">
                            <span>판매처</span>
                            <span th:text="${product.member.nickname}"></span>
                        </li>
                        <li class="prod-list-group-item">
                            <span>판매가</span>
                            <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}"></span>
                        </li>
                        <li class="prod-list-group-item">
                            <span>배송비</span>
                            <span th:text="${#numbers.formatInteger(product.shippingFee, 3, 'COMMA') + '원'}"></span>
                        </li>
                        <li class="prod-list-group-item">
                            <span>평균 별점</span>
                            <span class="average-star-rating" th:attr="data-rating=${#numbers.formatDecimal(averageStarRating, 1, 1)}"></span> <!-- 평균 별점 표시 -->
                            <span th:text="'(' + ${#numbers.formatDecimal(averageStarRating, 1, 1)} + ')'" class="ml-[10px]"></span>
                        </li>
                        <li class="prod-list-group-item">
                            <span>상품 등록 날짜</span>
                            <span th:text="${#temporals.format(product.createDate, 'yyyy-MM-dd')}"></span>
                        </li>
                    </ul>
                </div>
                <div class="prod-cart-add-card" sec:authorize="isAuthenticated()">
                    <div class="prod-card-body">
                        <form th:action="@{|/cart/add/${product.id}|}" method="POST">
                            <input type="submit" value="장바구니 담기" class="prod-btn-outline-dark">
                        </form>
                    </div>
                </div>
                <div class="prod-cart-add-card" sec:authorize="isAnonymous()">
                    <div class="prod-card-body">
                        <span>로그인 후 장바구니에 담을 수 있습니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 prod-container-box container">
        <div class="card shadow-md">
            <div class="prod-product-card-header">상품설명</div>
            <div class="prod-card-body-top">
                <span th:utext="${product.formattedBody}"></span>
            </div>
        </div>
        <div class="card shadow-md">
            <div class="prod-card-header">
                <span th:text="'리뷰 (' + ${#lists.size(product.reviewList)} + ')'"></span>
            </div>
            <ul th:if="${#lists.size(product.reviewList) > 0}" class="list-group list-group-flush gap-2 prod-card-body-bottom">
                <li th:each="review : ${product.reviewList}" class="prod-list-group-item">
                    <div class="top-box">
                        <div class="writer-box">
                            <span th:text="${review.member.nickname}"></span>
                        </div>
                        <span class="star-rating" th:attr="data-rating=${review.starRating}"></span>
                        <span th:utext="${review.formattedBody}"></span>
                        <div class="user-btn">
                            <a class="btn btn-sm btn-link" sec:authorize="isAuthenticated()"
                               th:if="${review.member != null and #authentication.getPrincipal().getUsername() == review.member.username}"
                               onclick="return handleReviewModifyClick(this);">수정</a>
                            <a th:href="@{|/review/delete/${review.id}|}" class="btn btn-sm btn-link" onclick="return productReviewDelete();" sec:authorize="isAuthenticated()"
                               th:if="${review.member != null and #authentication.getPrincipal().getUsername() == review.member.username}">삭제</a>
                        </div>
                    </div>
                    <div class="custom-review-modify-container" style="display: none; margin-top: 20px;">
                        <form class="custom-reviewModifyForm" id="custom-review-form" sec:authorize="isAuthenticated()" th:action="@{|/review/modify/${review.id}|}" method="POST">
                            <div class="custom-star-input">
                                <div class="custom-prod-rating custom-modify-rating">
                                    <input value="5" name="modifyStarRating" id="custom-modify-star5" type="radio">
                                    <label title="5 stars" for="custom-modify-star5"></label>
                                    <input value="4" name="modifyStarRating" id="custom-modify-star4" type="radio">
                                    <label title="4 stars" for="custom-modify-star4"></label>
                                    <input value="3" name="modifyStarRating" id="custom-modify-star3" type="radio">
                                    <label title="3 stars" for="custom-modify-star3"></label>
                                    <input value="2" name="modifyStarRating" id="custom-modify-star2" type="radio">
                                    <label title="2 stars" for="custom-modify-star2"></label>
                                    <input value="1" name="modifyStarRating" id="custom-modify-star1" type="radio">
                                    <label title="1 star" for="custom-modify-star1"></label>
                                    <span>별점을 체크해주세요 : </span>
                                </div>
                            </div>
                            <div class="custom-content-input">
                                <textarea name="content" id="custom-modify-content" class="custom-prod-form-control" rows="5" placeholder="수정할 내용을 입력하세요."></textarea>
                            </div>
                            <button type="button" onclick="customCancelReview(this)">취소</button>
                            <button type="submit" onclick="customSaveReview(event, this)">수정</button>
                        </form>
                    </div>
                </li>
            </ul>
            <ul th:unless="${#lists.size(product.reviewList) > 0}" class="prod-card-body-bottom">
                <span>등록된 리뷰가 없습니다.</span>
            </ul>
        </div>
        <div class="card shadow-md">
            <div class="prod-card-header">리뷰 작성</div>
            <div class="prod-card-body-middle">
                <!-- 구매한 경우에만 리뷰 작성 폼 노출 -->
                <form id="reviewForm" sec:authorize="isAuthenticated()" th:if="${hasPurchased}" th:action="@{|/review/create/${product.id}|}" method="POST">
                    <div class="mt-3">
                        <div class="mb-3">
                            <label for="starRating" class="form-label">
                                <div class="prod-rating">
                                    <input value="5" name="starRating" id="star5" type="radio">
                                    <label title="5 stars" for="star5"></label>
                                    <input value="4" name="starRating" id="star4" type="radio">
                                    <label title="4 stars" for="star4"></label>
                                    <input value="3" name="starRating" id="star3" type="radio">
                                    <label title="3 stars" for="star3"></label>
                                    <input value="2" name="starRating" id="star2" type="radio">
                                    <label title="2 stars" for="star2"></label>
                                    <input value="1" name="starRating" id="star1" type="radio">
                                    <label title="1 star" for="star1"></label>
                                </div>
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label"></label>
                            <textarea name="content" id="content" class="prod-form-control" rows="7" placeholder="리뷰 내용을 입력해주세요."></textarea>
                        </div>
                        <input type="submit" value="저장하기" class="prod-btn-dark" onclick="return productReviewCreate();">
                    </div>
                </form>
                <!-- 구매하지 않은 경우 안내 메시지 표시 -->
                <div th:if="${!hasPurchased}" sec:authorize="isAuthenticated()">
                    <p>이 상품을 구매한 사용자만 리뷰를 작성할 수 있습니다.</p>
                </div>
                <!-- 로그인하지 않은 경우 안내 메시지 표시 -->
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/member/login}">로그인 후 이용해주세요.</a>
                </div>
            </div>
        </div>

    </div>
</section>
</html>
