<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="prod-section-prod-list">
    <div class="col-md-8 prod-product-container-box container">
        <div class="prod-product-card">
            <div class="prod-img-container">
                <img class="prod-product-img" th:src="@{|/gen/${product.thumbnailImg}|}" alt="이미지가 존재하지 않습니다.">
            </div>
            <div class="prod-product-card-body">
                <div class="prod-product-card-header">
                    <span class="font-bold" th:text="${product.title}"></span>
                    <a th:href="@{/product/list}" class="btn btn-link">마켓가기</a>
                </div>
                <div class="prod-detail-card-body">
                    <ul class="list-group list-group-flush gap-2 mt-3">
                        <li class="prod-list-group-item">
                            <span>판매처</span>
                            <span th:text="${product.member.nickname}"></span>
                        </li>
                        <li class="prod-list-group-item">
                            <span>판매가</span>
                            <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}"></span>
                        </li>
                        <li class="prod-list-group-item">
                            <span>배송비</span>
                            <span th:text="${#numbers.formatInteger(product.shippingFee, 3, 'COMMA') + '원'}"></span>
                        </li>
                        <li class="prod-list-group-item">
                            <span>평균 별점</span>
                            <span class="average-star-rating" th:attr="data-rating=${averageStarRating}"></span> <!-- 평균 별점 표시 -->
                        </li>
                        <li class="prod-list-group-item">
                            <span>물품 등록 날짜</span>
                            <span th:text="${#temporals.format(product.createDate, 'yyyy-MM-dd')}"></span>
                        </li>
                    </ul>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{|/product/modify/${product.id}|}" th:if="${product.member != null and #authentication != null and (product.member.username == #authentication.getName() or member.authority == 0)}">수정</a>
                        <a th:href="@{|/product/delete/${product.id}|}" onclick="return confirm('정말 삭제하시겠습니까?')" th:if="${product.member != null and #authentication != null and (product.member.username == #authentication.getName() or member.authority == 0)}">삭제</a>
                    </div>
                </div>
                <div class="prod-cart-add-card">
                    <div class="prod-card-body">
                        <form th:action="@{|/cart/add/${product.id}|}" method="POST">
                            <input type="submit" value="장바구니 담기" class="prod-btn-outline-dark">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 prod-container-box container">
        <div class="card">
            <div class="prod-product-card-header">상품설명</div>
            <div class="prod-card-body-top">
                <span th:text="${product.description}"></span>
            </div>
        </div>
        <div class="card">
            <div class="prod-card-header">리뷰 등록</div>
            <div class="prod-card-body-middle">
                <form sec:authorize="isAuthenticated()" th:action="@{|/review/create/${product.id}|}" method="POST">
                    <div class="mt-3">
                        <div class="mb-3">
                            <label for="content" class="form-label">내용</label>
                            <textarea name="content" id="content" class="prod-form-control" rows="7" placeholder="리뷰 내용을 입력해주세요."></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="starRating" class="form-label">별점
                                <div class="prod-rating">
                                    <input value="5" name="starRating" id="star5" type="radio">
                                    <label title="5 stars" for="star5"></label>
                                    <input value="4" name="starRating" id="star4" type="radio">
                                    <label title="4 stars" for="star4"></label>
                                    <input value="3" name="starRating" id="star3" type="radio">
                                    <label title="3 stars" for="star3"></label>
                                    <input value="2" name="starRating" id="star2" type="radio">
                                    <label title="2 stars" for="star2"></label>
                                    <input value="1" name="starRating" id="star1" type="radio">
                                    <label title="1 star" for="star1"></label>
                                </div>
                            </label>
                        </div>
                        <input type="submit" value="등록하기" class="prod-btn-dark">
                    </div>
                </form>
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/member/login}">로그인 후 이용해주세요.</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="prod-card-header">리뷰</div>
            <ul th:if="${#lists.size(product.reviewList) > 0}" class="list-group list-group-flush gap-2 prod-card-body-bottom">
                <li th:each="review : ${product.reviewList}" class="prod-list-group-item">
                    <span th:text="${review.content}"></span>
                    <span class="star-rating" th:attr="data-rating=${review.starRating}"></span>
                    <a th:href="@{|/review/modify/${review.id}|}" class="btn btn-sm btn-link" sec:authorize="isAuthenticated()" th:if="${review.member != null and #authentication.getPrincipal().getUsername() == review.member.username}">수정</a>
                    <a th:href="@{|/review/delete/${review.id}|}" class="btn btn-sm btn-link" onclick="if ( confirm('정말 삭제하시겠습니까?' ) == false ) return false;" sec:authorize="isAuthenticated()" th:if="${review.member != null and #authentication.getPrincipal().getUsername() == review.member.username}">삭제</a>
                </li>
            </ul>
            <ul th:unless="${#lists.size(product.reviewList) > 0}" class="prod-card-body-bottom">
                <span>등록된 리뷰가 없습니다.</span>
            </ul>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('.star-rating').forEach(function(starRatingElem) {
                var rating = starRatingElem.getAttribute('data-rating');
                starRatingElem.innerText = '★'.repeat(rating);
            });
            var averageStarElem = document.querySelector('.average-star-rating');
            if (averageStarElem) {
                var averageRating = averageStarElem.getAttribute('data-rating');
                averageStarElem.innerHTML = '★'.repeat(Math.floor(averageRating)) + (averageRating % 1 > 0 ? '☆' : '');
            }
        });
    </script>
</section>
</html>
