html, body {
    position: relative;
    height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container-box {
  width: 100%;
}

html > body .container-box > .adopt {
  width: 100%;
  height: 380px;
  margin-bottom: 20px;
}

html > body .adopt-wrapper {
  width: 100%;
  height: 100%;
}

html > body .adopt-banner {
  text-align: center;
  font-size: 18px;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adopt-banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html > body .container-box > .adoptlist {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

/*소제목*/
.adoptlist > .tiny-menu-box {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.adoptlist > .tiny-menu-box > a {
    cursor: pointer;
    padding: 10px;
    display: block;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
}

.adoptlist > .tiny-menu-box > a:nth-child(2) {
    color: #fff;
    border: 1px solid red;
    border-radius: 10px;
    background-color: #FF416C;
    margin: 0px 15px;
}

.adoptlist > .tiny-menu-box > a:nth-child(1) {
    margin-right: 15px;
}

.adoptlist > .tiny-menu-box > a:nth-child(1):hover {
    color: #FF416C;
}

.adoptlist > .tiny-menu-box > a:nth-child(3) {
    margin-left: 15px;
}

.adoptlist > .tiny-menu-box > a:nth-child(3):hover {
    color: #FF416C;
}

html > body .container > .category-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px grey;
}

.category-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select-box {
    width: 152px;
    height: 47.38px;
}

.select-box > .msg-aria {
    height: 47.38px;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 1px);
    padding: 0.75rem 2rem 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e2022;
    vertical-align: middle;
    background: url('/adopt/카테고리.svg') no-repeat right 1rem center / 8px 10px;
    background-color: #fff;
    border: 1px solid #d5dae2;
    border-radius: 0.3125rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.category-search-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 108px;

}

.category-search-section > .input-group {
    margin-right: 40px;
}

.category-search-section > .search-group {
    margin-right: 5px
}
.category-search-section > .search-group > .btn.btn-sm.btn-block.btn-primary {
    background-color: #004ba0;
    border-color: #004ba0;
    height: 38px;
}

.category-search-section > .input-group {
    margin-right: 40px;
}

.category-search-section > .search-group {
    margin-right: 5px
}
.category-search-section > .search-group > .btn.btn-sm.btn-block.btn-primary {
    background-color: #004ba0;
    border-color: #004ba0;
    height: 38px;
}

html > body .container-box .adoptlist > .adopt-notice-list {
    padding-top: 25px;
}

html > body .container-box .adoptlist > .adopt-notice-list > .flex {
    background-color: #fafbfc;
    border-radius: 8px;
    box-shadow: 0 0px 6px rgba(140, 152, 164, 0.5);
}

.animal-content-detail {
    height: 153px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
}

.adopt-list-bottom {
    height: 620px;
}

.container.adoption-procedure {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.adoption-procedure > .adt-pro-title {
    font-weight: 600;
    margin-bottom: 20px;
    height: 31.5px;
    font-size: 28px;
}

.adt-pro-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 128px; /* 원형을 화면 중앙에 배치 */
    width: 100%;
    margin-bottom: 25px;
}

.adt-circle-1,
.adt-circle-2,
.adt-circle-3,
.adt-circle-4 {
    width: 8rem;
    height: 8rem;
    background-color: #ebf1fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

.adt-circle-1 > span,
.adt-circle-2 > span,
.adt-circle-3 > span,
.adt-circle-4 > span {
    color: black;
}

.adt-prev-caution {
    background-color: white;
    width: 730px;
    height: 260px;
    margin-top: 30px;
}
.adt-prev-caution-content> ul {
    list-style: disc;
    list-style-position: inside;
}

.adt-prev-caution-content > li {
    list-style: disc;
    list-style-position: inside;
}


/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width:1024px) and (max-width:1279px) {
  html > body .adopt {
          height: 300px;
      }
      .adopt-banner img {
          height: 100%;
      }
}

 /*테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    html > body .adopt {
        height: 250px;
    }
    .adopt-banner img {
        height: 100%;
    }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/

@media all and (min-width:480px) and (max-width:767px) {
    html > body .adopt {
        height: 200px;
    }
    .adopt-banner img {
        height: 100%;
    }
}


/* 모바일 세로 (해상도 ~ 479px)*/

@media all and (max-width:479px) {
    html > body .adopt {
        height: 150px;
    }
    .adopt-banner img {
        height: 100%;
    }
}

@media all and (max-width:394px) {
    html > body .container-box > .adopt {
            display: none;
        }
}
