<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="flex-1 flex justify-center items-center">
    <section class="adopt-total">
        <div class="container adopt-detail-head">
            <div class="adopt-info">
                <h1 class="h2 g-font-size-28 g-line-height-1">입양동물 정보</h1>
            </div>
        </div>
        <div class="adopt content">
          <h1 class="h3 g-color-primary font-weight-bold mt-1">
            <span class="animal_name" th:text="${animal.name != null ? animal.name : '유기동물'}"></span>
          </h1>
          <hr class="my-4">
          <ul class="list-animal-info">
            <li class="adoptanimal info-1">
              <div class="d-flex w-40 w-sm-30">
                <span class="text-muted"> 관리번호</span>
              </div>
              <div class="adoptanimal-body">
                <h3 class="h6" th:text="${animal.regId}"></h3>
              </div>
            </li>
            <li class="adoptanimal info-1">
              <div class="d-flex w-40 w-sm-30">
                <span class="text-muted">입양상태</span>
              </div>
              <div class="adoptanimal-body">
                <h3 class="h6" th:text="${animal.adoptionStatusCd}"></h3>
              </div>
            </li>
            <li class="adoptanimal info-1">
              <div class="d-flex w-40 w-sm-30">
                <span class="text-muted">종</span>
              </div>
              <div class="adoptanimal-body">
                <h3 class="h6" th:text="${animal.classification}">개</h3>
              </div>
            </li>
            <li class="adoptanimal info-1">
              <div class="d-flex w-40 w-sm-30">
                <span class="text-muted"> 성별(중성화) </span>
              </div>
              <div class="adoptanimal-body">
                <h3 class="h6" th:text="${animal.gender}+컷">암컷 / 중성화 O</h3>
              </div>
            </li>
            <li class="adoptanimal info-1">
              <div class="d-flex w-40 w-sm-30">
                <span class="text-muted">구조날짜</span>
              </div>
              <div class="adoptanimal-body">
                <h3 class="h6" th:text="${animal.rescueDate}"></h3>
              </div>
            </li>
            <li class="adoptanimal info-1">
              <div class="d-flex w-40 w-sm-30">
                <span class="text-muted"> 추정나이 </span>
              </div>
              <div class="adoptanimal-body">
                <h3 class="h6" th:text="${animal.age}"></h3>
              </div>
            </li>
            <li class="adoptanimal info-1">
              <div class="d-flex w-40 w-sm-30">
                <span class="text-muted"> 몸무게 </span>
              </div>
              <div class="adoptanimal-body">
                <h3 class="h6" th:text="${animal.weight}"></h3>
              </div>
            </li>
            <li class="adoptanimal info-0">
              <div class="d-flex w-40 w-sm-30">
                <span class="text-muted"> 털색 </span>
              </div>
              <div class="adoptanimal-body">
                <h3 class="h6 mb-0" th:text="${animal.hairColor}"></h3>
              </div>
            </li>
            <li class="adoptanimal info-0">
              <div class="d-flex w-40 w-sm-30">
                <span class="text-muted">기타정보</span>
              </div>
              <div class="adoptanimal-body">
                <h3 class="h6 mb-0" th:text="${animal.memo}"></h3>
              </div>
            </li>
          </ul>
          <hr class="my-4">
          <!--          <div class="row mx-n2 mb-[20px]">-->
          <!--            <div class="col-md-6 px-2 mb-1 mb-md-0">-->
          <!--              <span class="ml-1" data-toggle="tooltip" data-placement="top" title=""-->
          <!--                    data-original-title="" style="max-width: 750px;">친화도 <i class="fa fa-info-circle"></i></span>-->
          <!--              <span class="g-pr-5"></span>-->
          <!--              <div class="blue-box ml-1">-->
          <!--                <span class="btn btn-xs btn-primary btn-pill mb-1 g-mt-minus-3"></span>-->
          <!--                <span class="btn btn-xs btn-primary btn-pill mb-1 g-mt-minus-3"></span>-->
          <!--                <span class="btn btn-xs btn-primary btn-pill mb-1 g-mt-minus-3"></span>-->
          <!--                <span class="btn btn-xs btn-primary btn-pill mb-1 g-mt-minus-3"></span>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="col-md-6 px-2 mb-1 mb-md-0">-->
          <!--              <span class="ml-1" data-toggle="tooltip" data-placement="top" title=""-->
          <!--                    data-original-title="" style="max-width: 750px;">활발함 <i class="fa fa-info-circle"></i></span>-->
          <!--              <span class="g-pr-5"></span>-->
          <!--              <div class="blue-box ml-1">-->
          <!--                <span class="btn btn-xs btn-primary btn-pill mb-1 g-mt-minus-3"></span>-->
          <!--                <span class="btn btn-xs btn-primary btn-pill mb-1 g-mt-minus-3"></span>-->
          <!--                <span class="btn btn-xs btn-primary btn-pill mb-1 g-mt-minus-3"></span>-->
          <!--                <span class="btn btn-xs btn-primary btn-pill mb-1 g-mt-minus-3"></span>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="row mx-n2 space-1 mb-[20px]">-->
          <!--            <div class="col-6 col-md-3 px-2 mb-3 mb-md-0">-->
          <!--              <div class="card card-frame h-100">-->
          <!--                <div class="card-body bg-kams text-center p-1">-->
          <!--                                    <span class="g-font-size-13" data-toggle="tooltip" data-placement="top" title=""-->
          <!--                                          data-original-title="무관심하거나 친화적입니다" style="max-width: 750px;">타동물친화 <i-->
          <!--                                        class="fa fa-info-circle"></i></span>-->
          <!--                </div>-->
          <!--                <div class="card-body text-center p-2">-->
          <!--                  <h2 class="h3 font-weight-bold text-kams mb-0">YES</h2>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="adopt-button">
            <!-- 입양하기 -->
            <!-- GA 클래스 추가 detail_adopt_application_event -->
            <a href="/adopt/apply" target="_blink">
              <button class="btn btn-block btn-primary detail_adopt_application_event" type="button"
                      style="background-color:#f88379; margin-top: 5px; border:1px solid #f7a199;">
                입양하기
              </button>
            </a>
          </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</section>
</html>
