<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="flex-1 flex justify-center items-center">
    <section class="adopt-total">
        <div class="container adopt-detail-head">
            <div class="adopt-info">
                <h1 class="h2 g-font-size-28 g-line-height-1">입양동물 정보</h1>
            </div>
        </div>
        <div class="container adopt-detail-content">
            <div class="row-adopt" th:each="animal, loop : ${animal}">
                <div class="adopt img">
                    <div class="adopt-img-big">
                        <!-- FileUpload로 시작하는 경우 -->
                        <a th:href="@{|http://www.daejeon.go.kr/${animal.filePath}|}">
                            <img class="block w-full h-full rounded-lg hover:rounded-lg"
                                 th:if="${animal.filePath.startsWith('FileUpload')}"
                                 th:src="@{|http://www.daejeon.go.kr/${animal.filePath}|}"
                                 alt="이미지가 존재하지 않습니다.">
                        </a>

                        <!-- FileUpload로 시작하지 않는 경우 -->
                        <img class="block w-full h-full rounded-lg hover:rounded-lg"
                             th:unless="${animal.filePath.startsWith('FileUpload')}"
                             th:src="@{|/gen/${animal.filePath}|}"
                             alt="이미지가 존재하지 않습니다.">
                    </div>
                    <div class="adopt-img-small">
                    </div>
                </div>
                <div class="adopt content">
                    <h1 class="h3 g-color-primary font-weight-bold mt-1">
                        <span class="animal_name" th:text="${animal.name != null ? animal.name : '유기동물'}"></span>
                    </h1>
                    <hr class="my-4">
                    <ul class="list-animal-info">
                        <li class="adoptanimal info-1">
                            <div class="d-flex w-40 w-sm-30">
                                <span class="text-muted"> 관리번호</span>
                            </div>
                            <div class="adoptanimal-body">
                                <h3 class="h6" th:text="${animal.regId}"></h3>
                            </div>
                        </li>
                        <li class="adoptanimal info-1">
                            <div class="d-flex w-40 w-sm-30">
                                <span class="text-muted">입양상태</span>
                            </div>
                            <div class="adoptanimal-body">
                                <h3 class="h6" th:text="${animal.adoptionStatusCd}"></h3>
                            </div>
                        </li>
                        <li class="adoptanimal info-1">
                            <div class="d-flex w-40 w-sm-30">
                                <span class="text-muted">종</span>
                            </div>
                            <div class="adoptanimal-body">
                                <h3 class="h6" th:text="${animal.classification}">개</h3>
                            </div>
                        </li>
                        <li class="adoptanimal info-1">
                            <div class="d-flex w-40 w-sm-30">
                                <span class="text-muted"> 성별(중성화) </span>
                            </div>
                            <div class="adoptanimal-body">
                                <h3 class="h6" th:text="${animal.gender}+컷">암컷 / 중성화 O</h3>
                            </div>
                        </li>
                        <li class="adoptanimal info-1">
                            <div class="d-flex w-40 w-sm-30">
                                <span class="text-muted">구조날짜</span>
                            </div>
                            <div class="adoptanimal-body">
                                <h3 class="h6" th:text="${animal.rescueDate}"></h3>
                            </div>
                        </li>
                        <li class="adoptanimal info-1">
                            <div class="d-flex w-40 w-sm-30">
                                <span class="text-muted"> 추정나이 </span>
                            </div>
                            <div class="adoptanimal-body">
                                <h3 class="h6" th:text="${animal.age}"></h3>
                            </div>
                        </li>
                        <li class="adoptanimal info-1">
                            <div class="d-flex w-40 w-sm-30">
                                <span class="text-muted"> 몸무게 </span>
                            </div>
                            <div class="adoptanimal-body">
                                <h3 class="h6" th:text="${animal.weight}"></h3>
                            </div>
                        </li>
                        <li class="adoptanimal info-0">
                            <div class="d-flex w-40 w-sm-30">
                                <span class="text-muted"> 털색 </span>
                            </div>
                            <div class="adoptanimal-body">
                                <h3 class="h6 mb-0" th:text="${animal.hairColor}"></h3>
                            </div>
                        </li>
                        <li class="adoptanimal info-0">
                            <div class="d-flex w-40 w-sm-30">
                                <span class="text-muted">기타정보</span>
                            </div>
                            <div class="adoptanimal-body">
                                <h3 class="h6 mb-0" th:text="${animal.memo}"></h3>
                            </div>
                        </li>
                    </ul>
                    <hr class="my-4">
                    <div class="adopt-button">
                        <!-- 입양하기 -->
                        <!-- GA 클래스 추가 detail_adopt_application_event -->
                        <a th:href="@{|/adopt/apply/${animal.id}|}" target="_blink"
                           th:if="${#authorization.expression('isAuthenticated()')}">
                            <button class="btn btn-block btn-primary detail_adopt_application_event" type="submit"
                                    style="background-color:#f88379; margin-top: 5px; border:1px solid #f7a199;">
                                입양하기
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</html>