<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="flex-1 flex justify-center items-center">
  <div class="apply-container-box">
    <div class="apply-total">
      <div class="container applyform-head">
        <div class="apply-info">
          <h1 class="h2 g-font-size-28 g-line-height-1">입양신청</h1>
          <h2>평생 책임질 준비 되셨나요?
            구조된 동물들에게 입양은 마지막 기회이자 유일한 희망입니다.</h2>
        </div>
      </div>
      <div class="apply">
        <div class="apply-wrapper">
          <div class="apply-banner">
            <img th:src="@{/images/banner/입양.png}" alt="배너1">
          </div>
        </div>
      </div>
    </div>
    <div class="container apply-content">
      <div class="apply-content-name">
        <h1 class="h4 g-color-primary font-weight-bold mt-5">
          <span class="apply-content-header">입양 신청서</span>
        </h1>
        <hr class="my-2">
      </div>
      <div class="personal-data">
        <h5 class="font-bold">개인정보</h5>
      </div>
      <div class="personal-data-input">
        <form action="" method="POST" th:action="@{/adopt/apply}" th:object="${adoptForm}">
          <div class="input-box name">
            <span>1. 성명</span>
            <input type="text" id="name" name="name">
          </div>
          <div class="input-box phone">
            <span>2. 연락처</span>
            <input type="text" id="phone" name="phone">
          </div>
          <div class="input-box email">
            <span>3. 이메일 주소</span>
            <input type="email" id="email" name="email">
          </div>
          <div class="input-box gender">
            <span>4. 성별</span>
            <label>
              <input type="radio" id="maleRadio" name="isGender" value="true" th:checked="${adoptForm.isGender == true}"> 남
            </label>
            <label>
              <input type="radio" id="femaleRadio" name="isGender" value="false" th:checked="${adoptForm.isGender == false}"> 여
            </label>
          </div>
          <div class="input-box age">
            <span>5. 나이</span>
            <input type="text" id="age" name="age">
          </div>
          <div class="input-box company">
            <span>6. 직업/직장명</span>
            <input type="text" id="company" name="company">
          </div>
          <div class="input-box married">
            <span>7. 결혼여부</span>
            <label>
              <input type="radio" id="marryRadio" name="isMarried" value="true" th:checked="${adoptForm.married == true}"> 기혼
            </label>
            <label>
              <input type="radio" id="notmarryRadio" name="isMarried" value="false" th:checked="${adoptForm.married == false}"> 미혼
            </label>
          </div>
          <div class="input-box adress">
            <span>8. 집주소</span>
            <input type="text" id="sample6_postcode" name="postCode" style="width:194px" placeholder="우편번호">
            <input type="button" id="sample6_Daumpostcode" onclick="sample6_execDaumPostcode()" style="width:76px" value="주소 찾기"><br>
          </div>
          <div class="input-box adress2">
            <input type="text" id="sample6_address" name="address" placeholder="주소">
          </div>
          <div class="input-box adress3">
            <input type="text" id="sample6_detailAddress" name="detailAddress" style="width:342px" placeholder="상세주소">
            <input class="ml-2" type="text" id="sample6_extraAddress" name="extraAddress" style="width:290px" placeholder="참고항목">
          </div>
          <button type="submit">신청하기</button>
        </form>
      </div>
    </div>
  </div>
</section>
</html>
