<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="flex-1 flex justify-center items-center">
  <div class="container-box">
    <div class="review">
      <div class="review-wrapper">
        <div class="review-banner">
          <img th:src="@{/images/banner/입양리스트.jpg}" alt="배너1">
        </div>
      </div>
    </div>
    <div class="container reviewlist">
      <div class="tiny-menu-box">
        <a id="adoptionProcedureLink" href="#">입양절차</a>
        <a th:href="@{/adopt/list}">입양정보</a>
        <a th:href="@{/adopt/review}">입양후기</a>
      </div>
      <ul class="adopt-review-list grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-[20px] mt-3">
        <li th:each="review, loop : ${paging}" class="flex flex-col">
          <div class="animal-content-detail">
            <a th:href="@{|/adopt/detail/${review.id}|}" th:text="${review.content}" class="text-left mt-2 text-lg font-semibold"></a>
          </div>
        </li>
      </ul>
      <!-- 페이징 처리 시작 -->
      <ul th:if="${!paging.isEmpty()}" class="pagination flex justify-center my-5">
        <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
          <a class="page-link" th:href="@{|?page=0|}">
            <span>&laquo;</span>
          </a>
        </li>
        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
          <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
            <span>&lt;</span>
          </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number-5 and page <= paging.number+5}"
            th:classappend="${page == paging.number} ? 'active'"
            class="page-item">
          <a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
        </li>
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
          <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
            <span>&gt;</span>
          </a>
        </li>
        <li class="page-item" th:classappend="${paging.number == paging.totalPages - 1} ? 'disabled'">
          <a class="page-link" th:href="@{|?page=${paging.totalPages - 1}|}">
            <span>&raquo;</span>
          </a>
        </li>
      </ul>
      <form th:action="@{/adopt/review}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
      </form>
    </div>
  </div>
  <script layout:frgment="script" type="text/javascript">

    $(document).ready(function() {
     // .page-link 클래스를 가진 모든 요소에 클릭 이벤트 리스너 추가
     $('.page-link').on('click', function() {
         $('#page').val($(this).data('page')); // 클릭된 요소의 data-page 값을 page 입력 요소에 설정
         $('#searchForm').submit(); // searchForm 폼 제출
     });

     // btn_search 요소에 클릭 이벤트 리스너 추가
     $('#btn_search').on('click', function() {
         $('#kw').val($('#search_kw').val()); // search_kw 입력 요소의 값을 kw 입력 요소에 설정
         $('#page').val(0); // 페이지 값을 0으로 설정하여 첫 페이지부터 조회하도록 함
         $('#searchForm').submit(); // searchForm 폼 제출
     });
 });
    document.getElementById('adoptionProcedureLink').addEventListener('click', function(event) {
      event.preventDefault(); // 기본 동작(링크 이동)을 막습니다.
      document.getElementById('adoptionProcedureSection').scrollIntoView({ behavior: 'smooth' }); // 스크롤 이동
    });
  </script>
</section>
</html>
