<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="section-prod-list">
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css"/>
  <div class="container adopt-review-detail">
    <div class="card adopt-top-box">
      <div class="adopt-detail-box">
        <span th:text="${adoptReview.title}"></span>
        <div class="adopt-review flex-box">
<!--          <div class="sm-description">-->
            <div class="adopt-description-box">
              <span th:text="'작성자 : ' + ${adoptReview.writer.nickname}"></span>
              <span class="bar">|</span>
              <span th:text="'최초 작성일 : ' + ${#temporals.format(adoptReview.createDate, 'yyyy-MM-dd HH:mm')}"></span>
              <span class="bar">|</span>
              <span th:text="'조회수 : ' + ${adoptReview.hit}"></span>
            </div>
            <div class="btn-box">
              <a th:href="@{|/adopt/review/modify/${adoptReview.id}|}" class="adoptReviewDetail_content_modify_btn"
                 sec:authorize="isAuthenticated()"
                 th:if="${adoptReview.writer != null and #authentication.getPrincipal().getUsername() == adoptReview.writer.username}"
                 th:text="수정"></a>
              <a href="javascript:void(0);" th:data-uri="@{|/adopt/review/delete/${adoptReview.id}|}"
                 class="adoptReviewDetail_content_delete_btn" sec:authorize="isAuthenticated()"
                 th:if="${adoptReview.writer != null and #authentication.getPrincipal().getUsername() == adoptReview.writer.username}"
                 th:text="삭제"></a>
            </div>
<!--          </div>-->

<!--          <div class="picture-area">-->
<!--            <span><img th:src="@{|/gen/${adoptReview.images}|}" style="border-radius: 10px;" alt="대표이미지"></span>-->
<!--          </div>-->
        </div>
      </div>
      <div class="adopt-detail-content-box">
        <span><img th:src="@{|/gen/${adoptReview.images}|}" style="border-radius: 10px;" alt="대표이미지"></span>
      </div>
      <div class="adopt-review-button-box flex justify-between mt-6">
        <!-- 다음 버튼 -->
        <a th:href="@{|/adopt/review/detail/${nextVR}|}"
           th:classappend="${nextVR == null} ? 'btn-disabled' : 'btn-primary'"
           class="btn-primary"><i class="fa-solid fa-arrow-left"></i>
        </a>
        <!-- 목록 버튼 -->
        <a th:href="@{/adopt/review}"
           class="btn-primary">
          <i class="fa-solid fa-list"></i>
        </a>
        <!-- 이전 버튼 -->
        <a th:href="@{|/adopt/review/detail/${prevVR}|}"
           th:classappend="${prevVR == null} ? 'btn-disabled' : 'btn-primary'"
           class="btn-primary"><i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    const adopt_review_delete_elements = document.getElementsByClassName("adoptReviewDetail_content_delete_btn");
    Array.from(adopt_review_delete_elements).forEach(function(element) {
       element.addEventListener('click', function() {
           if(confirm("정말로 삭제하시겠습니까?")) {
               location.href = this.dataset.uri;
           }
       });
   });
  </script>
</section>
</html>