<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="flex-1 flex justify-center items-center">
    <div class="container">
        <h1>컨텐츠 생성 페이지</h1>

        <form th:action="@{/adm/product/create}" method="POST" enctype="multipart/form-data">
            <input class="form-control" type="text" name="title">
            <input class="form-control" type="text" name="description"><br>
            <input class="form-control" type="number" name="price"><br>
            <input type="file" name="thumbnail" accept="image/png, image/gif, image/jpeg"><br>
            <button type="submit">전송</button>
        </form>
    </div>
</section>
</html>