/* list.css */

/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/* 헤더 스타일 */
h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* 링크 네비게이션 스타일 */
.link-navigation {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.link {
    color: #007bff;
    text-decoration: none;
    margin: 0 0.5rem;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.link.active {
    color: #0056b3;
}

/* 구분 기호 스타일 */
.divider {
    color: #6c757d;
    margin: 0 0.5rem;
}

/* 컨테이너 스타일 */
.container {
    width: 100%;
    max-width: 2000px;
    padding:0 1rem;
    box-sizing: border-box;
}

/* 목록 스타일 */
.list-wrapper {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: #fff;
}
/* 테이블 래퍼 스타일 */
.table-wrapper {
    width: 200%;
    overflow-x: auto;
    margin: 0 auto;
    position: relative; /* 절대 위치 조정용 */
    left: -50%; /* 래퍼를 왼쪽으로 이동시켜서 가운데 정렬 */
}
/* 테이블 스타일 */
table {
    width: 100%; /* 테이블이 컨테이너 너비에 맞게 설정 */
    border-collapse: collapse; /* 경계가 겹치지 않도록 설정 */
}

/* 버튼 스타일 */
.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
/* 버튼 스타일 */
.button-edit, .button-delete {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    color: #fff;
}

.button-edit {
    background-color: #4CAF50;
}

.button-edit:hover {
    background-color: #45a049;
}

.button-delete {
    background-color: #f44336;
}

.button-delete:hover {
    background-color: #e53935;
}
/* 페이지네이션 스타일 */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* 페이지네이션과 목록 간의 간격 */
}

.pagination-button, .pagination-number {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: #ffffff;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 0.25rem;
}

.pagination-button:hover, .pagination-number:hover {
    background-color: #007bff;
    color: #ffffff;
}

.pagination-number.active {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
}

.pagination-button.disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    border-color: #dee2e6;
}
