/* 전체 페이지 스타일 */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/* 공지 사진 */
.article-wrapper {
  width: 100%;
  height: 380px;
}

 article-wrapper > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay-v {
    position: absolute;
    top: 30%;
    left: 50px;
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text-overlay-v > h1 {
    margin-right: auto;
    font-size: 3em;
}

.text-overlay-v > p {
    margin: 0;
    font-size: 1.2em;
    text-align: left;
    max-width: 80%;
    color: #fff;
}

.article-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

/* 링크 네비게이션 스타일 */
.article-box > .link-navigation {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.article-box > .link-navigation > .link {
    color: #141214;
    text-decoration: none;
    margin: 0 0.5rem;
    font-weight: bold;
}

.article-box > .link-navigation > .link:hover {
    text-decoration: underline;
    color: #c23273;
}

.article-box > .link-navigation > .link.active {
    color: #c23273;
}

/* 구분 기호 스타일 */
.divider {
    color: #6c757d;
    margin: 0 0.5rem;
}

/* 컨테이너 스타일 */
.article-box > .container-list {
    width: 1400px;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-top: 30px;
}

/* 테이블 래퍼 스타일 */
.article-box > .container-list > .table-wrapper {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
}

/* 테이블 스타일 */
.article-box > .container-list > .table-wrapper > table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 0.5rem;
    text-align: center; /* 중앙 정렬 */
    border-bottom: 1px solid #ddd;
    width: 200px;
    font-size: 16px;
}

th:nth-child(2) {
    width: 400px;
}

td:nth-child(2) {
    width: 400px;
}

th {
    background-color: #f1f1f1;
}

td a {
    color: #007bff;
    text-decoration: none;
}
td.view-count {
    padding-right: 2rem; /* 오른쪽 여백을 추가하여 오른쪽으로 이동 */
}

td a:hover {
    text-decoration: underline;
}

tr:hover {
  background-color:#e9e9e9;
}

/* 버튼 스타일 */
.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.25rem;
    background-color: #FF416C;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #f58ca3;
      color: #ffffff;

}

/* 관리 링크 스타일 */
.link-manage {
    color: #007bff;
    text-decoration: none;
    margin: 0 0.25rem;
}

.link-manage:hover {
    text-decoration: underline;
}

/* 제목 말줄임표 */
.shortTitle{
    width:450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* 또는 inline-block */
}