<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-recharge-success">
    <div class="container">
        <h1 class="text-[1.5rem] font-bold flex justify-center pt-5 pb-5">포인트 충전 성공</h1>

        <div class="alert alert-success" role="alert">
            <p th:text="${message}">포인트 충전이 완료되었습니다.</p>
        </div>

        <div class="text-center">
            <a href="/" class="btn btn-primary">홈으로 돌아가기</a>
        </div>
    </div>
</section>
</html>
