<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <div class="container review-detail">
        <div class="card top-box">
            <div class="detail-box">
                <span th:text="${volunteerReview.title}"></span>
                <div class="flex-box">
                    <div class="description-box">
                        <span th:text="'작성자 : ' + ${volunteerReview.writer.nickname}"></span>
                        <span class="bar">|</span>
                        <span th:text="'최초 작성일 : ' + ${#temporals.format(volunteerReview.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                        <span class="bar">|</span>
                        <span th:text="'조회수 : ' + ${volunteerReview.hit}"></span>
                    </div>
                    <div class="btn-box">
                        <a th:href="@{|/volunteer/review/modify/${volunteerReview.id}|}"
                           th:if="${#authorization.expression('isAuthenticated()')} and (${member.authority} == 0 or (${volunteerReview.writer.username} == ${member.username}))"
                           onclick="return reviewModify();">수정</a>
                        <a th:href="@{|/volunteer/review/delete/${volunteerReview.id}|}"
                           th:if="${#authorization.expression('isAuthenticated()')} and (${member.authority} == 0 or (${volunteerReview.writer.username} == ${member.username}))"
                           onclick="return reviewDelete();">삭제</a>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="subImg-box" th:each="subImage : ${volunteerReview.subImages}">
                    <img th:src="@{|/gen/${subImage}|}" alt="첨부 이미지">
                </div>
                <div class="body-box">
                    <span th:utext="${volunteerReview.formattedBody}"></span>
                </div>
            </div>
            <div class="button-box flex justify-between mt-6">
                <!-- 다음 버튼 -->
                <a th:href="@{|/volunteer/review/detail/${nextVR}|}"
                   th:classappend="${nextVR == null} ? 'btn-disabled' : 'btn-primary'"
                   class="btn-primary"><i class="fa-solid fa-arrow-left"></i>
                </a>
                <!-- 목록 버튼 -->
                <a th:href="@{/volunteer/review}"
                   class="btn-primary">
                    <i class="fa-solid fa-list"></i>
                </a>
                <!-- 이전 버튼 -->
                <a th:href="@{|/volunteer/review/detail/${prevVR}|}"
                   th:classappend="${prevVR == null} ? 'btn-disabled' : 'btn-primary'"
                   class="btn-primary"><i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
</html>