<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="section-cart-item-list">
    <div class="cart-container" style="width: 80%; margin: auto;">
        <h1 class="text-[1.5rem] font-bold flex justify-center pt-5 pb-5">장바구니</h1>

        <div class="mt-10">
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 50px;">
                    <col style="width: 300px;">
                    <col style="width: 600px;">
                    <col style="width: 300px;">
                </colgroup>

                <thead>
                <tr class="align-middle whitespace-nowrap">
                    <th><input type="checkbox" class="form-1__checkbox-all"></th>
                    <th>이미지</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>수량</th>
<!--                    <th class="!px-[20px]">구매/삭제</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem : ${cartList}" class="align-middle whitespace-nowrap">
                    <td><input type="checkbox" class="form-1__checkbox-item"></td>
                    <td>
                        <a th:href="@{|/product/detail/${cartItem.product.id}|}"><img class="w-[50px] h-[50px] sm:w-[100px] sm:h-[100px] object-cover" th:src="@{|/gen/${cartItem.thumbnailImg}|}" alt="상품이미지"></a>
                    </td>
                    <td>
                        <a th:href="@{|/product/detail/${cartItem.product.id}|}" th:text="${cartItem.product.title}" th:attr="data-title=${cartItem.product.title}"></a>
                    </td>
                    <td th:text="${#numbers.formatInteger(cartItem.product.price, 3, 'COMMA') + '원'}" th:attr="data-price=${cartItem.product.price}"></td>
                    <td>
                        <form th:action="@{/cart/update-quantity/{id}(id=${cartItem.id})}" method="post" class="d-inline">
                            <input type="number" name="quantity" min="1" th:value="${cartItem.quantity}" style="width: 50px; text-align: center;">
                            <button type="submit" class="btn btn-outline-secondary btn-sm">변경</button>
                        </form>
                    </td>
                    <td>
                        <a th:href="@{|/cart/delete/${cartItem.id}|}" type="button" class="btn btn-link" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="text-right">
                <span class="text-[1.1rem] font-bold">총 가격</span>
                <span id="total-price" th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + ' 원'}">0 원</span>
                <button class="btn btn-outline-dark btn-purchase">결제하기</button>
            </div>
        </div>
    </div>

    <form id="checkout-form" action="/order/checkout" method="get">
        <input type="hidden" name="totalPrice" id="totalPrice">
        <input type="hidden" name="selectedItems" id="selectedItems">
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('.form-1__checkbox-all').change(function() {
                $('.form-1__checkbox-item').prop('checked', this.checked);
                calculateTotal();
            });

            $('.form-1__checkbox-item').change(function() {
                calculateTotal();

                let allChecked = $('.form-1__checkbox-item:not(:checked)').length == 0;
                $('.form-1__checkbox-all').prop('checked', allChecked);
            });

            function calculateTotal() {
                let titles = [];
                let price = 0;

                $('.form-1__checkbox-item:checked').each(function() {
                    let $row = $(this).closest('tr');
                    let dataTitle = $row.find('[data-title]').data('title');
                    let dataPrice = parseFloat($row.find('[data-price]').data('price'));
                    let dataQuantity = parseInt($row.find('input[name="quantity"]').val());

                    titles.push(dataTitle);
                    price += dataPrice * dataQuantity;
                });

                price = Math.round(price);

                if (price > 0) {
                    $('#total-price').text(price.toLocaleString() + ' 원');
                } else {
                    $('#total-price').text(' 0원');
                }

                let titlesString = titles.join(", ");

                return {titlesString, price};
            }

            $('.btn-purchase').on('click', function(e) {
                e.preventDefault();
                let result = calculateTotal();
                if (result.price > 0) {
                    $('#totalPrice').val(result.price);
                    $('#selectedItems').val(result.titlesString);
                    $('#checkout-form').submit();
                } else {
                    alert('상품을 선택해주세요');
                }
            });
        });
    </script>
</section>
</html>
