<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원 하기</title>
    <script src="https://js.tosspayments.com/v1"></script>
    <link rel="stylesheet" href="/donation/donationPage.css">
    <script src="/donation/donationscript.js"></script>

</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <img src="https://i.ibb.co/fNDw1FH/4415755-j-XZ.jpg" alt="Dog Shelter" class="background-image">
        <div class="text-overlay">
            <h1>후원하기</h1>
            <br>
            <p>애니버스는 커뮤니티의 힘과 환원의 중요성을 믿습니다. 유기 동물 센터와 협력하여 <br> 우리는 버려진 동물들의 삶에 큰 변화를 가져오는 것을 목표로 합니다. <br>함께, 유기동물을 안전한 환경을 제공하여 유기동물을 사랑이 가득한 영원한 가족을 <br>찾을 수 있는 기회를 보장할 수 있습니다.</p>
        </div>
        <div class="donation-section">
            <img src="https://i.ibb.co/D79qTFk/001.png" alt="센터 후원" class="center-background-image">
            <div class="donation-box">
                <h2>센터 후원</h2>
                <br>
                <p>구조된 동물이 평생의 가족을 만날 때까지 유기동물 보호센터로 후원합니다.</p>
                <a href="#" class="btn-donate" id="btnDonate">후원하기</a>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="donateModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>후원하기</h2>
            <div class="modal-body">
                <label for="shelter">센터 선택:</label>
                <select id="shelter" name="shelter">
                    <option value="shelter1">보호소 1</option>
                    <option value="shelter2">보호소 2</option>
                    <option value="shelter3">보호소 3</option>
                </select>
                <label for="amount">금액 입력:</label>
                <input type="number" id="amount" name="amount" placeholder="금액을 입력하세요">
                <button id="submitDonation">후원하기</button>
            </div>
        </div>
    </div>
</section>
</body>
</html>
