<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-donation-fail">
    <div class="container">
        <h1 class="text-[1.5rem] font-bold flex justify-center pt-5 pb-5">후원 실패</h1>

        <div class="alert alert-danger" role="alert">
            <p th:text="${message}">후원에 실패했습니다.</p>
        </div>

        <div class="text-center">
            <a href="/points/recharge" class="btn btn-primary" style="background-color: #FF416C; border-color: #FF416C;">포인트 충전</a>
            <a href="/donation/donate" class="btn btn-primary" style="background-color: #FF416C; border-color: #FF416C;">다시 시도</a>
        </div>
    </div>
</section>
</html>
