<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">
<section layout:fragment="content" class="section-donation-success">
    <div class="container" style="display: block">
        <h1 class="text-[1.5rem] font-bold flex justify-center pt-5 pb-5">후원 성공</h1>

        <div class="alert alert-success" role="alert">
            <p th:text="${message}">후원이 성공적으로 완료되었습니다.</p>
        </div>

        <div class="text-center">
            <a href="/donation/donate" class="btn btn-primary"style="background-color: #FF416C; border-color: #FF416C;">다시 후원하기</a>
        </div>
    </div>
</section>
</html>
