/* 컨테이너 설정 */
.container-all, .container-comments {
  margin-top:40px;
  border-radius: 8px;
  width: 100%;
}

/* 제목 스타일링 */
h1 {
  font-size: 2rem; /* 32px */
  color: #333; /* 다크 회색 */
  margin-bottom: 10px;
}

h2 {
  font-size: 1rem; /* 24px */
  color: #444; /* 약간 더 밝은 다크 회색 */
  margin-bottom: 10px;
}

/* 버튼 스타일링 */
.btn-primary {
  background-color: #FF416C;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  cursor: pointer;

}

.btn-primary:hover {
  background-color: #e8a7c5; /* 블루의 어두운 버전 */
}

.link-manage {
  background: none;
  color: #007BFF; /* 블루 */
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.link-manage:hover {
  color: #0056b3;
}
/* 구분선 */
.jb-division-line {
  border-top: 1px solid #444444;
  margin: 15px 0px;
}



/* 댓글 리스트 */

. container-comment-list{
    margin-top: 10px;
    border: 1px solid #E0E0E0; /* 연한 회색 테두리 */
    padding: 10px; /* 내부 여백 */

}
.container-comment {
 white-space: normal;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-list li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-list li:not(:last-child) {
  border-bottom: 1px solid #E0E0E0; /* 연한 회색 */
}

.comment-list .author {
  font-weight: bold;
  font-size: 2em;
}

.comment-list textarea {
  width: 100%;
  height: 100px;
  border: 2px solid #D0D0D0; /* 연한 회색 */
  border-radius: 4px;
  margin-bottom: 10px;
  resize: vertical; /* 수직으로만 크기 조정 가능 */
}

.comment-list button {
  /*background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer; */
  width:20px;
  opacity: 1;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.comment-list button:hover {
  opacity: .5;
}

.comment-summary {
  width: 800px;
}

.comment-summary > h2 {
  text-align: left;
  font-size: 15px
}

.container-comment-list {
 /* border: 1px solid #E0E0E0; /* 연한 회색 */
    margin-top: -60px;
}

.comment-buttons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}


/* 댓글 추가 폼*/

/* 전체 컨테이너에 대한 스타일 */
.container-comment {
    width: 1000px;
    margin: 20px auto;
}

/* 폼 스타일 */
#comment-form-edit, #comment-form-new {
    display: flex;
    align-items: flex-start; /* 수직 정렬 */
    gap: 10px; /* textarea와 버튼 사이의 간격 */
}

/* 텍스트 영역 스타일 */
textarea {
    flex: 1; /* 텍스트 영역이 가능한 모든 공간을 차지하도록 함 */
    padding: 10px; /* 텍스트 영역의 안쪽 여백 */
    border: 1px solid #ccc; /* 테두리 스타일 */
    border-radius: 4px; /* 테두리 둥글게 */
    resize: none; /* 크기 조절 기능 비활성화 */
}

#comment-input-new{
    padding-left:10px;
}

/* 버튼 스타일 */

button {
    padding: 10px 20px;
    /*background-color: #007bff;*/
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
   /* background-color: #0056b3; */
}

button:active {
    background-color: #004494;
}
