/* 컨테이너 설정 */
.container-all, .container-comments {
  border-radius: 8px;
  border: 1px solid red;


}

/* 제목 스타일링 */
h1 {
  font-size: 2rem; /* 32px */
  color: #333; /* 다크 회색 */
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem; /* 24px */
  color: #444; /* 약간 더 밝은 다크 회색 */
  margin-bottom: 10px;
}

/* 버튼 스타일링 */
.btn-primary {
  background-color: #007BFF; /* 블루 */
  color: #FFFFFF; /* 흰색 */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3; /* 블루의 어두운 버전 */
}

.link-manage {
  background: none;
  color: #007BFF; /* 블루 */
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.link-manage:hover {
  color: #0056b3; /* 블루의 어두운 버전 */
}
/* 구분선 */
.jb-division-line {
  border-top: 1px solid #444444;
  margin: 30px 0px;
}


/* 댓글 리스트 */
.comment-list {
    border: 1px solid red;
  list-style: none;

}

.comment-list li {
  border-bottom: 1px solid #E0E0E0; /* 연한 회색 */
  display:inline-block;

}

.comment-list textarea {

  border: 1px solid red;
  width: 200%;
  height: 200px;
  border: 2px solid #D0D0D0; /* 연한 회색 */
  border-radius: 4px;

  margin-bottom: 10px;
  resize: vertical; /* 수직으로만 크기 조정 가능 */
}

.comment-list button {
  background-color: #007BFF; /* 블루 */
  color: #FFFFFF; /* 흰색 */
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.comment-list button:hover {
  background-color: #0056b3; /* 블루의 어두운 버전 */
}

.comment-summary{
    width:800px;
}
.comment-summary > h2 {
    text-align: left;
}

.container-comment-list{
      border: 1px solid red;

}


.container-comment{
      border: 1px solid red;
      width:1000px;
      display: flex;
}
.container-comment > button{
    margin-left: auto;
}

/* 폼 스타일링 */


textarea {
  width: 100%;
  border: 1px solid #D0D0D0; /* 연한 회색 */
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical; /* 수직으로만 크기 조정 가능 */
}

button[type="submit"] {
  background-color: #007BFF; /* 블루 */
  color: #FFFFFF; /* 흰색 */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* 블루의 어두운 버전 */
}


