@font-face {
  font-family: 'GmarketSansMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html > body ul,
html > body li {
  margin:0;
  padding:0;
  list-style:none;
}

html > body {
  font-family: 'Pretendard-Regular';
  text-underline-position: under;
}

ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.collapse {
    visibility: visible !important;
}

/* 헤더 시작 */
header > .menu-bar {
    height: 100px;
    display: flex;
    width: 100%;
}

header > .menu-bar > .logo-box {
    width: 11%;
    margin-left: 20px;
}

header > .menu-bar > .logo-box > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

header > .menu-bar > .logo-box > a > img {
    width: 100%;
    height: 100%;
}

header > .menu-bar > .menu-box {
    width: 89%;
    margin-left: 100px;
}

header > .menu-bar > .menu-box > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

header > .menu-bar > .menu-box > ul > li {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

header > .menu-bar > .menu-box > ul > li > a > span {
    color: #323232;
    font-weight: 800 !important;
    font-size: 20px;
}

header > .menu-bar > .menu-box > ul > li > a > span:hover {
    color: #FF416C;
}

/* 푸터 시작 */
footer {
    margin-top: 50px;
}

footer > .top-box {
    width: 100%;
    height: 60px;
    background-color: #fad9e1;
}

footer > .top-box > .container {
    height: 100%;
    width: 100%;
}

footer > .top-box > .container > .left-box {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer > .top-box > .container > .left-box > a {
    font-size: 16px;
}

footer > .top-box > .container > .left-box > a:nth-child(1) {
    font-weight: 700;
}

footer > .top-box > .container > .right-box {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

footer > .top-box > .container > .right-box > a {
    width: 90px;
    height: 100%;
    display: block;
}

footer > .top-box > .container > .right-box > a:nth-child(1) {
    background-color: #3B5998;
}

footer > .top-box > .container > .right-box > a:nth-child(2) {
    background-color: #3F729B;
}

footer > .top-box > .container > .right-box > a:nth-child(3) {
    background-color: #F7E600;
}

footer > .top-box > .container > .right-box > a:nth-child(4) {
    background-color: #C4302B;
}

footer > .top-box > .container > .right-box > a > i {
    color: #fff;
    font-size: 30px;
    line-height: 60px;
}

footer > .top-box > .container > .right-box > a:nth-child(3) > i {
    color: #000;
}

footer > .bottom-box {
    width: 100%;
    height: 120px;
}

footer > .bottom-box > .container {
    width: 100%;
    height: 100%;
}

footer > .bottom-box > .container > .img-box {
    width: 11%;
    height: 100%;
    margin-left: 10px;
}

footer > .bottom-box > .container > .img-box > img {
    width: 100%;
    height: 100%;
}

footer > .bottom-box > .container > .detail-box {
    width: 89%;
    height: 100%;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

footer > .bottom-box > .container > .detail-box > .common-box {
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
}

footer > .bottom-box > .container > .detail-box > .common-box > .bar {
    margin-left: 10px;
    margin-right: 10px;
}

/* 반응형 시작 */
@media (max-width: 394px) {
    header > .menu-bar {
        height: 100%;
        display: block;
        width: 100%;
        margin-top: 5px;
    }

    header > .menu-bar > .logo-box {
        width: 100%;
        margin-left: 0px;
    }

    header > .menu-bar > .logo-box > a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    header > .menu-bar > .logo-box > a > img {
        width: 150px;
        height: 100%;
    }

    header > .menu-bar > .menu-box {
        width: 100%;
        margin-left: 0px;
    }

    header > .menu-bar > .menu-box > ul {
        margin-top: 8px;
        margin-bottom: 13px;
        width: 100%;
        height: 100%;
    }

    header > .menu-bar > .menu-box > ul > li {
        text-align: center;
    }

    header > .menu-bar > .menu-box > ul > li > a > span {
        color: #323232;
        font-weight: 800 !important;
        font-size: 14px;
    }

    header > .menu-bar > .menu-box > ul > li > a > span:hover {
        color: #FF416C;
    }
}
