<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
    <section layout:fragment="content" class="flex-1 justify-center items-center">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img th:src="@{/images/banner/banner-1.png}" alt="배너1">
                </div>
                <div class="swiper-slide">
                    <img th:src="@{/images/banner/banner-2.png}" alt="배너1">
                </div>
                <div class="swiper-slide">
                    <img th:src="@{/images/banner/banner-3.png}" alt="배너1">
                </div>
                <div class="swiper-slide">
                    <img th:src="@{/images/banner/banner-4.png}" alt="배너1">
                </div>
                <div class="swiper-slide">
                    <img th:src="@{/images/banner/banner-5.png}" alt="배너1">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="container main-box">
            <div class="summary volunteer-summary-box">
                <div class="top-box">
                    <div class="title-box">
                        <h1>봉사활동 현황</h1>
                        <span>보람찬 추억을 만들어보아요!</span>
                    </div>
                    <div class="total-btn">
                        <a th:href="@{/volunteer/list}"><i class="fa-solid fa-plus mr-[5px]"></i>전체보기</a>
                    </div>
                </div>
            </div>
            <div class="summary adopt-summary-box">
                <div class="top-box">
                    <div class="title-box">
                        <h1>유기동물 공고</h1>
                        <span>가족이 되어주세요!</span>
                    </div>
                    <div class="total-btn">
                        <a th:href="@{/adopt/list}"><i class="fa-solid fa-plus mr-[5px]"></i>전체보기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>